.admin-home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f6f6f6;
}

.admin-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.admin-link {
    display: inline-block;
    margin: 10px 0;
    padding: 20px 40px;
    border-radius: 50px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
}

.admin-link:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
}

.admin-link:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.3);
}